.pf-c-tab-content__body {
    --pf-c-tab-content__body--PaddingTop: var(--pf-global--spacer--md);
    --pf-c-tab-content__body--PaddingRight: var(--pf-global--spacer--xl);
    --pf-c-tab-content__body--PaddingLeft: var(--pf-global--spacer--xl);
    --pf-c-tab-content__body--PaddingBottom: var(--pf-global--spacer--xl);
}

.pf-c-card {
    height: 100%;
}

/* styling the list of endpoints */
.pf-c-simple-list {
    --pf-c-simple-list__item-link--PaddingLeft: 0;

    /* disable hover background change */
    --pf-c-simple-list__item-link--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
    --pf-c-simple-list__item-link--Color: var(--pf-global--Color--100);

    /* disable styles when list item is clicked on */
    --pf-c-simple-list__item-link--m-current--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
    --pf-c-simple-list__item-link--m-current--Color: var(--pf-global--Color--100);
    --pf-c-simple-list__item-link--active--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
    --pf-c-simple-list__item-link--active--Color: var(--pf-global--Color--100);
    --pf-c-simple-list__item-link--FontSize: var(--pf-global--FontSize--md);
}

/* styling the dropdown menu button */
.pf-c-dropdown {
    --pf-c-dropdown__toggle--PaddingTop: 0;
    --pf-c-dropdown__toggle--PaddingRight: 0;
    --pf-c-dropdown__toggle--PaddingBottom: 0;
    --pf-c-dropdown__toggle--PaddingLeft: 0;
    --pf-c-dropdown__toggle--before--BorderWidth: 0;
    --pf-c-dropdown--m-expanded__toggle--before--BorderBottomWidth: 0;
    --pf-c-dropdown__toggle--focus--before--BorderBottomWidth: 0;
    --pf-c-dropdown__toggle--active--before--BorderBottomWidth: 0;
    --pf-c-dropdown__toggle--Color: var(--pf-global--palette--black-600);
}

.pf-c-simple-list__item-link {
    cursor: default;
}

.form-text-input {
    width: 100%;
    height: 4rem;
}

.form-fill {
    width: var(--pf-global--spacer--md);
}

.chromium-body {
    min-height: 15.625rem;
    width: 40.625rem
}

#root {
    height: 100%;
}

.new-line {
    white-space: pre;
}
